.animate-bounce {
  animation: bounce 1.5s infinite;
}
.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
.animate-slide-in {
  animation: slideIn 0.3s ease-out;
}
.animate-slide-out {
  animation: slideOut 0.5s ease-out;
}
.animate-zoom-in {
  animation: zoomIn 0.2s ease-in-out;
}
.animate-slide-x {
  animation: slideX 0.2s ease-out;
}
.animate-slide-out-left {
  animation: slideOutLeft 0.4s ease-in-out forwards;
}
.animate-slide-in-right {
  animation: slideInRight 0.4s ease-in-out;
}
.animate-slide-out-right {
  animation: slideOutRight 0.4s ease-in-out forwards;
}
.animate-slide-in-left {
  animation: slideInLeft 0.4s ease-in-out;
}

/* Accordion animations */
.animate-accordion-down {
  animation: accordion-down 0.3s ease-out;
}

.animate-accordion-up {
  animation: accordion-up 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(10px);
    opacity: 0;
  }
}

@keyframes slideX {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
