.animate-bounce {
  animation: bounce 1.5s infinite;
}
.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
.animate-slide-in {
  animation: slideIn 0.3s ease-out;
}
.animate-slide-out {
  animation: slideOut 0.5s ease-out;
}
.animate-zoom-in {
  animation: zoomIn 0.2s ease-in-out;
}
.animate-slide-x {
  animation: slideX 0.2s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(10px);
    opacity: 0;
  }
}

@keyframes slideX {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
