.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -1px 0 currentColor;
  }

  50% {
    transform: rotate(180deg);
    box-shadow: 0 -1px 0 currentColor;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 0 -1px 0 currentColor;
  }
}
